
body {
  padding-top: 56px;
}
h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.tR{
  text-align: center;
  font-size: 2em;
  color: rgb(36, 33, 48);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr{
  border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);

}
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.cont{
  color: rgb(22, 9, 66);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;  
}
